/* shared style  */
body {
    font-family: 'Work Sans', sans-serif;

}

.text_light_grey {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.common_title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: normal;
}

.head {
    padding: 50px 240px;
    background-color: rgba(255, 144, 14, 0.10);
    /* border: 1px solid red; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
}

ul>li {
    list-style: none;
    /* it will effect the list iteams */
    margin-right: 80px;
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.head_title {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 3rem;
    /* footer font is 16px=1 rem, so head fonbt is 15px*3=45px=3rem */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* banner style starts */
.banner_title {
    color: (#131313);
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner_content {
    /* border: 1px solid red; */
    max-width: 800px;
    /* max-width will maintain the entire width for the written part */
    text-align: center;
    /* to bring text in center */
    margin: 0 auto;
}

.primary_btn {
    padding: 21px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
}

.Explore {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner img {
    /* border: 1px solid red; */
    /* do not use image size */
    /* width: 1440px;
    height: 700px; */
    margin-top: 50px;
    width: 100%;

}

/* banner part ends */
/* main css starts */
main {
    max-width: 1140px;
    margin: 0 auto;
    /* always keep these value as OK */
}

.team_container {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin-top: 85px;
    /* padding: 0 301px; */

}

.team_image_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team_image {
    width: 100%;
}

.team_text_container {
    padding-left: 76px;
}

/* features css starts */

/* .Features {
    color: #FF900E;
} */


.team_container_title {
    color: var #727272;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

/* features css starts */
.features {
    display: flex;
    /* border: 1px solid red; */
    margin-top: 130px;
    /* gap: 140px; */
}

.features_content_cart {
    /* border: 1px solid red; */
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
}

.features_content {
    margin-right: 146px;
}

.features_content_head {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features_content .features_content_head {

    border-left: 5px solid #FF900E;
    padding: 21px;
}

.features_image {

    width: 100%;
    height: 70%;
}

.ten_years_badge {
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    /* height: 200px; */
    padding: 46px 42px;
    text-align: center;
    position: relative;
    /* to use image or text or button another image, relative work opositive , if we use for bottom, it will go top. */
    bottom: 123px;
    right: 92px;
}

.ten_years_badge_title {
    color: #FFF;
    font-size: 4.1rem;
    font-style: normal;
    margin: 0px;
}

.experience {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.6rem;
    margin: 0px;
}



/* features css ends */

/* facts section starts */


.fcat_text {
    margin-bottom: 100px;
}

.common_title {

    color: #131313;
    font-size: 2.8rem;
    margin-top: 130px;
    font-weight: 700;
    line-height: normal;
}

.facts_cart_container {
    display: flex;
    justify-content: space-around;

}

.cart {
    /* border: 1px solid red; */
    text-align: center;
    padding: 45px 40.92px 60px 40.92px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.cart_stat {
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
}

.cart_des {
    color: #727272;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px 0;
}

/* facts section ends */
/* Sponspors css starts */
.sponsor_img_container {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-top: 50px;
}

.sponsor_text_container {
    text-align: center;
}

.sponsor_img {
    /* border: 1px solid red; */
    width: 10.3rem;
    height: 3.1rem;
}

/* Sponspors css ends */

/* main css ends */
/* footer css starts */


.footer{
    /* border: 1px solid red; */
    border-radius: 8px;
    text-align: center;
    margin-top: 130px;
    padding: 39px 410px;
    background-color:#FFF4E7 ;
}

/* responsive media starts here */
/* for small devices */


/* responsive media starts here */
/* for small devices */

/* responsive media starts here */
/* for small devices */


@media screen and (max-width: 576px) {

    .head,
    main {
        padding: 20px;
    }


    /* now where we uses display: flex; we need to work on it */
    /* small device: pixel 5 */
    nav,
    .team_container,
    .facts_cart_container,
    .sponsor_img_container,
    .features {
        flex-direction: column;
    }


    /* .features {
    flex-direction: column;
} */


    ul>li {
        margin-right: 18px;
    }


    .team_text_container,
    .Sponspors {
        padding: 20px;
    }


    .team_image_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        padding: 0 20px;
    }


    .facts {
        padding: 20px;
    }


    .cart {
        margin: 15px 0;
    }


    /* Sponspors media starts */
    .sponsor_img {
        width: 165px;
        height: 50px;




    }


    .sponsor_img_container {
        gap: 20px;
        justify-content: center;
        align-items: center;


    }

.footer{
    border-radius: 8px;
    margin-top: 90px;
    padding: 39px 1px;
}
    
.features_content{
width: 100%;
}
.features_image{
    width: 100%;
}
.ten_years_badge{
    position: relative;
    bottom: 123px;
    right: 92px;
}
}


/* medium devices: pixel 5 (rotate)*/
@media screen and ((min-width: 576px) and (max-width: 992px)) {


    nav,
    .team_container,
    .sponsor_img_container,
    .features {
        flex-direction: column;
    }

    .features_image {
        width: 100%;
    }

    .head {
        padding: 40px;
    }


    ul>li {
        margin-right: 80px;
    }


    .team_image_container,
    .team_text_container,
    .facts
    {
    padding: 0 40px；}


   .Sponspors {
    padding: 0px 40px;
   }




  .facts_cart_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; }


   .sponsor_img_container {
    gap: 40px;
    justify-content: center;
    align-items: center;}
}


/* responsive media ends here */